<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>@Model.CommonObjects.PageTitle</title>
<meta name="description" content="@Model.CommonObjects.MetaDescription" />
<link href="@(Common.MyRoot)Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="@(Common.MyRoot)Content/Gentallela.css" rel="stylesheet" />
<link href="@(Common.MyRoot)Content/Site.css" rel="stylesheet" type="text/css" />
<link href="@(Common.MyRoot)Content/custom.min.css" rel="stylesheet" />
<link href="@(Common.MyRoot)res/css/Style.css?c=1" rel="stylesheet" />

<script>
    var SiteRoot = "@Common.BaseUrl()";
</script>

